<div class="container">
  <div class="row justify-content-center py-5">
    <div class="col-lg-4">
      <h1>New Article</h1>
      <%= render 'form' %>
      <%= link_to 'Back', articles_path %>
    </div>
  </div>
</div>
