// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  }

.navbar {
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    }


.navbar:after {
    display: table;
    content: " ";
    clear: both;
    }

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }


.navbar:before, .navbar:after {
    display: table;
    content: " ";
    }
